#caption-container{
    background-color:whitesmoke;
    border-radius:5px;
    border: 1px solid #888;
    padding:2px;
    position:relative;
    padding-left:30px;
    padding-right:30px;
}

body{
    background:transparent;
}
#captions{
    /*border-radius: 5px;
    border: 1px solid #888;
    background-color: whitesmoke;
    padding: 12px;
    position:relative;*/
    height:305px;    
    overflow-x: auto;
    overflow-y:hidden;
}

.caption-header{
    height: 38px;
}

.caption{
    position: relative;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #bdc3c7;
    color:#141823;
    font-size:12px;
    margin-top: 4px;
    margin-bottom: 0;
    height:265px;
    display:inline-block;
    width: 750px;
    margin-right:12px;
    padding-left: 6px;
    padding-right: 6px;
}

.time-label-wrapper{
    position: absolute;
    top:0;
    left:0;
    background-color:#BBB;
    font-size: 16px;
    color: white;
    padding: 2px 8px;
}

.textarea-label{
    background-color: #BBB;
    /*color: #1E9C00;*/
    color:white;
    font-size:14px;
    padding:2px 12px;
}

.write{
    height:55px !important;
    resize: none;
    font-size: 14px;
    width:100%;
}

.comment-splitter{
    margin: 8px 0;
}

.comments{
    height: 112px;
    overflow-x: hidden;
    overflow-y: scroll;
}


#caption-container{
    white-space: nowrap;
    
}


.icon-count-container{
    position:absolute;
    top:1px;
    left:43%;
    width:200px;
}


.icon-count{
    display:inline-block;
}

.icon-count-container .icon-count{
    position:relative;
    background-size:contain;
    background-repeat: no-repeat;
    height:28px;
    width:28px;
    margin:5px;
    cursor: pointer;
}

.icon-count-container .icon-count .icon-count-number{
    position:absolute;
    display:none;
    color:white;
    font-size:12px;
    width:12px;
    text-align: center;

}

.icon-count-container .icon-count.active .icon-count-number{
    display:inline-block;
    background-color:#F12B24;
    width:16px;
    height:16px;
    border-radius:8px;
    top:-5px;
    left:-6px;
}


.icon-count-container .inaccessible-count{
    background-image:url("../images/button_error_off.png");
}
.icon-count-container .inaccessible-count.self-active{
    background-image:url("../images/button_error_on.png");
}

.icon-count-container .bookmark-count{
    background-position:5px;
    background-image:url("../images/button_save_off.png");
}
.icon-count-container .bookmark-count.self-active{
    background-image:url("../images/button_save_on.png");
}

.icon-count-container .question-count{
    background-position-y:2px;
    background-image:url("../images/button_ask_off.png");
}
.icon-count-container .question-count.self-active{
    background-image:url("../images/button_ask_on.png");
}

.comment-username{
    color: #3b5998;
    font-weight:bold;
    margin-right:5px;
}

.comment-time{
    font-size:10px;
    color: #9197a3;
}

.time-label-wrapper span{
    margin-right:4px;
}


.caption-control-arrow{
    position: absolute;
    display:block;
    top:0;
    bottom:0;
    width:28px;
    cursor:pointer;
    background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%);
    opacity:0.5;
 }
.caption-control-arrow:hover{
    opacity:0.9;
}


.caption-control-arrow .glyphicon{
    top:50%;
    display:block;
    position:absolute;
    font-size:18px;

}

.caption-control-arrow-right{
     right:0;
 }

.caption-control-arrow-left{
    left:0;
}

.caption-body .btn .glyphicon{
    display:none;
} 

.caption-body .btn.submitted .glyphicon{
    display:inline-block;
} 

.time-control-btn{
    cursor: pointer;
} 

/* Toggle */
.toggle-label{
    vertical-align: top;
    margin-right:6px;
    margin-bottom:0;
}
.toggle-indicator{
    position: relative;
    display: inline-block;
    height: 18px;
    width: 40px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom:0;
}

.toggle-indicator:after {
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.toggle-indicator:active:after {
  transform: scale(1.15, 0.85);
}
.toggle:checked ~ label {
  background: #74beea;
}
.toggle:checked ~ label:after {
  left: 20px;
  background: #009cda;
}
.toggle:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.toggle:disabled ~ label:after {
  background: #bcbdbc;
}
